<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiepaiqi.alert.AlertNoteMapper">
    <insert id="insert" parameterType="com.jiepaiqi.alert.AlertNote">
        INSERT INTO alert_notes (id, alert_id, author_user_id, body, created_at)
        VALUES (#{id}, #{alertId}, #{authorUserId}, #{body}, #{createdAt})
    </insert>
</mapper>